$blue: #ce98fd;
$grey: #7f6df2;
$black:  #6415d1;
$darkgrey: #7f2bf2;

// stripe
$red: #ff30b0;
$yellow: #f1ff2e;
$lightgreen: #9bff21;
$lightblue: #21ffff;

$folderYellow: #f1ff2e;
$folderInnerBorder: #a8cf1b;
$folderOuterBorder: #44049e;


$green: #40ff6b;
$s: #77ff22;
